.app {
	text-align: center;
	height: inherit;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.centered {
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.centered {
		flex-basis: 100%;
	}
}
