.chats {
	width: 50%;
	align-self: center;
	text-align: left;
	padding-top: 1rem;
}

.chats .right {
	text-align: right;
}

.chat {
	margin-bottom: 1rem;
}

.chat .date {
	font-size: 0.8rem;
	color: #8c8c8c;
}

.chat-header {
	background: #ffe287;
	display: inline-block;
	padding: 0.1rem 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-header.bot {
	background: #e8e8e8;
}

.chat-header.self {
	background: #a4ecff;
}

@media (max-width: 768px) {
	.chats {
		width: 100%;
		padding: 0;
	}
}
