.input-wrapper {
	background: rgb(33, 37, 43);
	color: white;
	min-height: 4rem;
	display: flex;
	flex-basis: 5em;
	justify-content: center;
	align-items: center;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
}

.input {
	width: 100px;
	flex-grow: 1;
	outline: none;
	border: none;
	background: inherit;
	font-size: inherit;
	color: white;
}

.submit {
	margin-left: 0.5em;
	background: transparent;
	color: white;
	border: none;
	cursor: pointer;
	outline: none;
	padding:0;
}

.submit:active {
	opacity: 0.3;
}
